<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li>
        <a href="#">Friends</a>
      </li>
      <li>
        <a href="#">Bank account</a>
      </li>
      <li>
        <a href="#">History</a>
      </li>
      <li>
        <a href="#">Settings</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->



</div>


<div>

<div class="jumbotron">
  <div class="alert alert-danger" data-ng-if="err">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <strong>You are missing some data in your form!</strong></div>
  <h2>Setting up your bank account</h2>



  <form role="form">
    <div class="form-group">
      <label>First name</label>
      <input class="form-control" id="name" data-ng-model="bankData.firstName">
    </div>
    <div class="form-group">
      <label>Last name</label>
      <input class="form-control" id="last_name" data-ng-model="bankData.lastName">
    </div>

    <div class="form-group">
      <label>Bank account number</label>
      <input class="form-control" id="bank_account_number" data-ng-model="bankData.accountNumber">
    </div>

    <button type="submit" class="btn btn-default" data-ng-click="save()">Save</button>
  </form>


</div>

</div>
