<nav id="myNavbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="controls">
				<div class="logout">
					<a class="navbar-brand" href="#">Hello, Dima!</a>
					<a href="" class="btn btn-default">Logout</a>
				</div>
			</div>
		</div>

	</div>
</nav>

<div class="container with-sidebar">
	<div class="row">
		<div class="col-md-3">
			<div id="wrapper">
				<!-- Sidebar -->
				<div id="sidebar-wrapper">
					<ul class="sidebar-nav">
						<li>
							<a href="#/friends">Friends</a>
						</li>
						<li>
							<a href="#/bank-data">Bank account</a>
						</li>
						<li>
							<a href="#/history">History</a>
						</li>
						<li>
							<a href="#/settings">Settings</a>
						</li>
					</ul>
				</div>
				<!-- /#sidebar-wrapper -->
			</div>
		</div>
		<div class="col-md-9">
			<div class="hack-one">
				<h2>Transfer money to your friend in 2 steps:</h2>

				<p class="lead">
					<span data-ng-if="bankData.ok">
						<strike>1. Add you bank account data </strike>
					</span>
					<span data-ng-if="!bankData.ok">
						1. Add you bank account data <a ng-click="fillBankData()" class="btn btn-default btn-sm  btn-success">ADD<span class="glyphicon"></span></a>
					</span><br />2. Make transfer <a data-ng-disabled="!bankData" class="btn btn-sm btn-success" ng-click="pay()">ADD<span
						class="glyphicon"></span></a>
					<br>
				</p>
			</div>
		</div>
	</div>
</div>

