<div class="container">
  <div class="jumbotron">
    <h1>Transfer money with ease</h1>
    <h2>in 2 simple steps&hellip;</h2>
    <div class="cont">
      <div id="ytplayer"></div>
    </div>
    <div class="cont">
      <a href="#" class="btn btn-default btn-lg">
        <span aria-hidden="true">Learn more &rarr;</span>
      </a>
    </div>
  </div>
</div>

<script>
  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer', {
      height: '260',
      width: '480',
      videoId: 'F9kNnTD6ndw',
      playopts: {
        showinfo: 0,
        theme: 'light'
      }
    });
  }
</script>
